
  <h2>Welcome to Pet Keeper! </h2>

  <p>
    Keep track of your fur baby's most important info.
  </p>

  <p>At Pet Keeper, we truly believe that lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non velit semper, consequat quam volutpat, viverra orci. Aenean sit amet feugiat augue, aliquet consequat ante. Donec dignissim suscipit tempor. Sed convallis augue in felis efficitur, sed luctus dolor eleifend. Duis dictum dui volutpat risus scelerisque, a mollis nisl tincidunt. Praesent id ligula libero. Donec vitae orci fringilla, dapibus magna eget, porta lorem. Praesent et massa vitae justo varius rhoncus. Pellentesque vestibulum tempor congue.</p>

  <p><a href="#add"  class="underline">Add your pets</a> today!</p>
